
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* src/styles/AboutService.css */


.about-service-container {
    background-image: url("/img/5.jpg");
    backdrop-filter: opacity(0.4);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-size: cover;
    background-position: center;

  }


  
  .about-service-container h1 {
    align-items: center;
    font-size: 2rem;
    color: #213258;
    margin-bottom: 20px;

  }
  
.text-container {


  
    border: #4a686570 1px solid;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


  .description {
    font-size: 1.1rem;
    color: #000000;
    max-width: 900px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .back-link {
    margin-top: 20px;
    color: #3460db;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .back-link:hover {
    color: #83ca73;
    text-decoration: underline;
  }


  @media (max-width: 768px) {
  .about-service-container {
    padding: 20px 10px;
    min-height: 70vh;
  }

  .about-service-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-container {
    padding: 10px;
    border-radius: 8px;
  }

  .description {
    font-size: 0.95rem;
    padding: 0 10px;
    line-height: 1.4;
  }

  .back-link {
    font-size: 0.9rem;
    text-align: center;
  }
}

  @media (max-width: 480px) {

  .about-service-container {

    background-image: url("/img/6.png");

  }
  .about-service-container h1 {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .text-container {
    padding: 8px;
    backdrop-filter: blur(10px);
  }
}