
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* src/styles/AboutService.css */
.about-service-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 40px 20px;
    font-family: 'Poppins' sans-serif;

  }
  
  .about-service-container h1 {
    font-size: 2rem;
    color: #eeffea;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.1rem;
    color: #eafeff;
    max-width: 900px;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
  }
  
  .back-link {
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .back-link:hover {
    color: #83ca73;
    text-decoration: underline;
  }