/* QuantitySelector.css */
.quantity-selector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 13px;
  
}

.quantity-btn-dec {
  width: 32px;
  height: 32px;
  background-color: #f1f1f1;
  border-radius: 13px 7px 7px 13px;
  /* background: none !important; */;
  color: #1d397a;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px !important;
}

.quantity-btn-inc {

  width: 32px;
  height: 32px;
  color: #1d397a;
  border-radius: 7px 13px 13px 7px;
  background-color: #f1f1f1;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0px !important;

}

.quantity-btn-dec:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.quantity-value {
  width: 38px;
  color: #525252;
  text-align: center;
  font-size: 16px;
  padding: 0 4px;
  font-weight: 500;
}
