/* src/styles/SearchQuote.css */
.search-quote-container  {
  background-image: url("/img/13.jpg");
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  .search-card{
    background-color: rgba(255, 255, 255, 0.95); 
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 600px;

  }
  


  .search-quote-container h1 {
    font-size: 2rem;
    color: #499b5e;
    margin-bottom: 10px;
  }
  
  .search-quote-container p {
    font-size: 1.1rem;
    color: #416491;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    gap: 10px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #5fabe9d0;
    border-radius: 5px;
    width: 190px;
    text-transform: uppercase;
  }
  
  .search-button {
    background-color: #365488;
    color: #ffffff;
    border: 1px solid #c0bf81;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #2980b9;
  }
  
  .error-message {
    color: #e74c3c !important;
    margin-top: 10px;
  }
  
  .back-link {
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }